{% extends 'base/base_main.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/market/css/market.css' %}">
{% endblock %}

{% block content %}
    <div id="market">
        <aside>
            <ul>
                {% for all_type in all_types %}
                    <li>
                        <a href="{% url 'axf:market' all_type.typeid 0 0%}">{{ all_type.typename }}</a>
                        {% if current_c_id == all_type.typeid %}
                            <span class="yellowSlide"></span>
                        {% endif %}
                    </li>
                {% endfor %}

            </ul>
        </aside>

        <section>
            <nav>
                <ul>
                    <li>
                        <span id="all_type">
                            全部类型
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </span>
                    </li>
                    <li>
                        <span id="all_sort">
                            综合排序
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </span>
                    </li>
                </ul>
            </nav>

            <menu>
                <ul>
                    {% for i in goods_data %}

                        <li>
                            <a href="#">
                                <img src="{{ i.productimg }}" alt="">
                                <div class="shoppingInfo">
                                    <h6>{{ i.productlongname }}</h6>
                                    <p class="detailTag">
                                        <span>精选</span>
                                        <span></span>
                                    </p>
                                    <p class="unit">{{ i.specifics }}</p>
                                    <p class="price">
                                        <span>￥{{ i.price }}</span>
                                        <s>{{ i.marketprice }}</s>
                                    </p>
                                </div>
                            </a>
                            <section>
                                <button class="subShopping" g_id="{{ i.id }}">-</button>
                                <span>0</span>
                                <button class="addShopping" g_id="{{ i.id }}">+</button>
                            </section>
                        </li>

                    {% endfor %}

                </ul>
{#                全部类型#}
                <div id="type_container">
                    <div>


                        {% for sub_type in sub_types %}
                            <a href="{% url 'axf:market' current_c_id sub_type.1 0 %}">
                                {% if sub_type.1 == current_sub_c_id %}
{#                                    如果当前循环的二级分类的id和用户点击的二级分类id是相同那么按钮的颜色变化#}
                                    <button class="btn btn-success">{{ sub_type.0 }}</button>
                                {% else %}
{#                                    如果不是 那就显示普通#}
                                    <button>{{ sub_type.0 }}</button>
                                {% endif %}
                            </a>
                        {% endfor %}

                    </div>
                </div>

{#            综合排序#}
                <div id="sort_container">
                    <div>
                        <a href="{% url 'axf:market' current_c_id current_sub_c_id 0 %}">

                            {% ifequal sort_type 0 %}
                                    <button class="btn btn-success">综合排序</button>
                            {% else %}
                                    <button>综合排序</button>
                            {% endifequal %}

                        </a>

                        <a href="{% url 'axf:market' current_c_id current_sub_c_id 1 %}">

                            {% ifequal sort_type 1 %}
                                    <button class="btn btn-success">价格最低</button>
                            {% else %}
                                    <button>价格最低</button>
                            {% endifequal %}
                        </a>

                        <a href="{% url 'axf:market' current_c_id current_sub_c_id 2 %}">
                            {% ifequal sort_type 2 %}
                                    <button class="btn btn-success">销量优选</button>
                            {% else %}
                                    <button>销量优选</button>
                            {% endifequal %}
                        </a>
                    </div>
                </div>
            </menu>
        </section>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="{% static 'axf/market/js/market.js' %}"></script>
{% endblock %}