{% extends 'base/base_user.html' %}
{% load  static %}
{% block content %}
    <div class="container">
        <form action="{% url 'axf:register' %}" id="my_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">用户名</label>
                <input type="text" class="form-control" id="u_name" placeholder="用户名大于3位" name="u_name" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" id="pwd" placeholder="密码" name="pwd">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">确认密码</label>
                <input type="password" class="form-control" id="c_pwd" placeholder="确认密码" name="confirm_pwd">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">邮箱</label>
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="邮箱" name="email">
            </div>

            <div class="form-group">
                <label for="exampleInputFile">选择头像图片</label>
                <input type="file" id="exampleInputFile" name="u_icon">
            </div>

            <button type="submit" class="btn btn-success btn-block">注册</button>
        </form>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'js/md5.js' %}"> </script>
    <script type="text/javascript" src="{% static 'user/js/register.js' %}"></script>
{% endblock %}