@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
#box{ width:1261px; background:url(reg.png) no-repeat; margin:0 auto; border:1px solid #fff; font-size:12px;}
#register{ width:600px; height:980px; margin:20px 0 0 378px; padding:50px 0 0 40px;}
#register dl{ margin:40px 40px 0 30px; border-bottom:1px dashed gray; height:330px;}
#register dl dt{ float:left; width:50px; height:27px; line-height:27px; text-align:right; margin-right:20px;}
#register dl dd{float:left;  height:27px; line-height:27px; width:450px; margin-bottom:20px;}
#register dl dd span{ float:right; white-space:pre-wrap;}
img{ vertical-align:middle;margin-right:5px;}
input,select{ margin:0 8px 0 8px; background:#fbfbfb;}
select{ width:70px; height:32px; border:1px solid #d4d4d6; border-radius:5px; }
input.common{width:277px; height:32px; border:1px solid #d4d4d6; border-radius:8px;}
#register dl.two{ margin-top:10px; border:none;}
.two ul{ list-style:none;}
.two ul li{width:78px; height:28px; border:1px solid #d4d4d6; border-radius:8px 8px 0 0 ; line-height:28px; text-align:center; float:left; margin-right:10px; border-bottom:none;}
.two ul li.last{ border:none; float:right;}
.two div{ width:434px; height:190px; border:1px solid #d4d4d6; clear:both; padding:5px 8px; }
.two div h2{ width:418px; height:35px; background:#f6f5f5 url(../images/images/close_03.png) right 5px no-repeat; color:#999; font-size:12px; line-height:35px; text-align:center;}
.two div input{ padding:3px 10px; border:none; color:white; margin:5px 0 5px 0;}
.two div input.type1{ background:#FF99CC;}
.two div input.type2{ background:#0066FF;}
.two div input.type3{ background:#FFFF99;}